html, body {
    padding: 0;
    margin: 0;
}

body {
    background: #ddd;
    padding: 30px;
}

* {
    box-sizing: border-box;
}

canvas {
    background: black;
    margin: 0 auto;
    display: block;
}

.container {
    display: flex;
    justify-content: space-between;
}

span {
    margin-top: 0px;
    font-size: 30px;
    font-weight: 200;
    height: 28px;
    width: 200px;
}

#score__now {
    width: 150px;
    margin-left: 70px;
}